﻿
@model List<Course>

<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <h2>Courses</h2>
        <a asp-action="Create" class="btn btn-primary">Add Course</a>
    </div>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Actions</th>
        </tr>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Title</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@course.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Enrollments" asp-route-id="@course.Id" class="btn btn-info">Enrollments</a>
                </td>
            </tr>
        }
    </table>
</div>
